@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif !important;
}

html {
  background-color: #F5F5F5;
}

.glass {
  width: 100%;
  height: 100%;
  background: rgba(85, 83, 83, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 6px #3ad0d867;
  color: #fff;
}

.highlight {
  color: #6B8CB6; 
  font-weight: bolder;
}

.myImage:hover {
  filter: drop-shadow(0 0 0.75rem cyan);
  display: 'none';
}

.dark-header {
  background-color: #f8f8f8;
  position: fixed;
  z-index: 1;
}

@keyframes pulse {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  50% {
      transform: scale(1.2);
      opacity: 0.7;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.bg {
  background-image: radial-gradient(circle at 67% 83%, rgba(255,255,255, 0.050980392156862744) 0%, rgba(255,255,255, 0.050980392156862744) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, rgba(255,255,255, 0.050980392156862744) 0%, rgba(255,255,255, 0.050980392156862744) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, rgba(255,255,255, 0.050980392156862744) 0%, rgba(255,255,255, 0.050980392156862744) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, rgba(255,255,255, 0.050980392156862744) 0%, rgba(255,255,255, 0.050980392156862744) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, rgba(255,255,255, 0.050980392156862744) 0%, rgba(255,255,255, 0.050980392156862744) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, rgba(255,255,255, 0.050980392156862744) 0%, rgba(255,255,255, 0.050980392156862744) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, rgba(255,255,255, 0.050980392156862744) 0%, rgba(255,255,255, 0.050980392156862744) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, rgba(255,255,255, 0.050980392156862744) 0%, rgba(255,255,255, 0.050980392156862744) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(450deg, rgb(108,140,180),rgb(163,181,238));
}